# Ignore notes to myself file
Jodi_notes.txt


### GENOTPE DATA ###

# Ignore everything inside 01_Genotype_Data/
01_Genotype_Data/*

# BUT keep 01_Download_genotype_data_for_tutorial.md
!01_Genotype_Data/01_Download_genotype_data_for_tutorial.md


### PHENOTYPE DATA ###

# Ignore everything in 01_Phenotype_Data/Making_phenotype_data/
01_Phenotype_Data/Making_phenotype_data/


### QC ###

# Ignore everything inside 02_QC/
02_QC/*

# BUT keep all .sh scripts and .md files
!02_QC/*.sh
!02_QC/*.md


### Imputation ###

# Ignore everything inside 03_Imputation/
03_Imputation/*

# BUT keep all .sh scripts and .md files
!03_Imputation/*.sh
!03_Imputation/*.md


### Ancestry Checks ###

# Ignore everything inside 04_Ancestry_Checks/
04_Ancestry_Checks/*

# BUT keep all .sh scripts and .md files
!04_Ancestry_Checks/*.sh
!04_Ancestry_Checks/*.md


### GWAS ###

# Ignore everything inside 05_GWAS/

05_GWAS/*

# BUT keep all .sh scripts and .md files and .R scripts
!05_GWAS/*.sh
!05_GWAS/*.md
!05_GWAS/*.R


### Clumping ###

# Ignore everything inside 06_Clumping/

06_Clumping/*

# BUT keep all .sh scripts and .md files
!06_Clumping/*.sh
!06_Clumping/*.md
